@charset "UTF-8";
/*241205*/

/* 게시판 */ 
.page-tit{text-align: center; font-size: 40px;font-weight: 900; margin-top: 50px;}

.list_board{margin-top: 50px;}
.list-top{padding-bottom: 20px;}

/* total 검색 영역  */
.total{ font-size: 14px; color: #999; font-weight: 600;}
.total span{color: #111;}
.search-input{position: relative; padding-right: 40px; border: 1px solid #ddd; border-radius: 50px;}
.search-input input{line-height: 40px; padding: 0 10px; border-radius: 50px;}
.search-input button{position: absolute; top:0; right: 0; width: 40px; height: 40px; line-height: 40px; text-align: center;}

/* 게시판 리스트 */
ul.list_board_body{border-top: 1px solid #ddd; }
ul.list_board_body li ul.row{display: flex; align-items: center;}
ul.list_board_body li ul.row li{width: 8%; padding: 15px 0; font-size: 14px; box-sizing: border-box; text-align: center;}/*no*/
ul.list_board_body li ul.row li:nth-child(2){
    width: 45%; 
    text-align: left; 
    padding-left: 10px;
    font-weight: 600;
}/*제목*/
ul.list_board_body li ul.row li:nth-child(3){width: 10%; }/*첨부파일*/
ul.list_board_body li ul.row li:nth-child(4){width: 17%;}/*작성자*/
ul.list_board_body li ul.row li:nth-child(5){width: 20%;}/*작성일*/


ul.list_board_body li.list-header,
ul.list_board_body li.list-body{width: 100%;}
ul.list_board_body li.list-header{border-bottom: 1px solid #ddd; font-size: 14px; font-weight: 600; color: #666;}
ul.list_board_body li.list-header ul.row li:nth-child(2){text-align: center;}

ul.list_board_body > li.list-body > ul > li{border-bottom: 1px solid #ddd;}
ul.list_board_body > li.list-body > ul > li > a{display: block;}
ul.list_board_body > li.list-body > ul > li > a:hover ul li{color: rgb(73, 73, 238);}

/* faq 스타일  */
ul.list_board_body.faq_type > li{border-bottom: 1px solid #ddd; width: 100%;}
ul.list_board_body.faq_type > li > button{position: relative;  width: 100%; text-align: left; padding: 20px 10px; box-sizing: border-box; font-size: 20px; font-weight: 800;}
ul.list_board_body.faq_type > li > button .icon_box{position: absolute; top: 50%; right: 10px; transform: translateY(-50%); transition: all 0.5; font-size: 12px; color: #666; width: 35px; height: 35px; border:1px solid #666; text-align: center;  }
ul.list_board_body.faq_type > li > button .icon_box i{line-height: 35px;}
ul.list_board_body.faq_type > li > button span{display: block; font-size: 12px; color: #666; font-weight: 400;}
ul.list_board_body.faq_type > li > div{padding: 10px; background: #f5f5f5; border-radius: 9px; margin-bottom: 10px;}


ul.list_board_body.faq_type > li.on > button .icon_box{color: rgb(73, 73, 238); border-color: rgb(73, 73, 238);}
ul.list_board_body.faq_type > li.on > button .icon_box i{transform: rotate(180deg);}

/*...출력*/
.ell {display:inline-block; max-width:97%; height: auto; overflow:hidden; text-overflow:ellipsis; vertical-align:middle; white-space:nowrap; word-wrap: break-word;  word-break: break-all;}
.ell.row2 {max-height:4rem; display:-webkit-box; white-space:normal;word-break: normal;-webkit-box-orient:vertical;-webkit-line-clamp:2} /* height 값 조정 */
.ell.row3 {max-height:6rem; display:-webkit-box; white-space:normal;word-break: normal;-webkit-box-orient:vertical;-webkit-line-clamp:3} /* height 값 조정 */
.ell.row4 {max-height:8rem; display:-webkit-box; white-space:normal;word-break: normal;-webkit-box-orient:vertical;-webkit-line-clamp:4} /* height 값 조정 */


/* 페이지내이션  */
.pagination{margin-top: 50px;}
.pagination ul li{width: 35px; height: 35px; box-sizing: border-box;; border: 1px solid #ddd; background: #fff; border-radius: 9px; margin-right: 5px;}
.pagination ul li a{display: block; width: 100%; height: 100%; text-align: center; line-height: 35px; font-size: 12px; font-weight: 700;}

.pagination ul li.on{ border-color: rgb(73, 73, 238);}
.pagination ul li.on a{color: rgb(73, 73, 238);}
.pagination ul li:last-child{margin-right: 0;}

.pagination ul li:hover{background: rgb(73, 73, 238); border-color: rgb(73, 73, 238);}
.pagination ul li:hover a{color: #fff;}


body.write .input-box{position: relative; background: #fff; border-radius: 9px; border: 1px solid #ddd; overflow:hidden; }
body.write .input-box input[type=text],
body.write .input-box input[type=password],
body.write .input-box textarea{
    border-radius: 9px;     
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    box-sizing: border-box;
}
body.write .input-box textarea{display: block; width: 100%; padding: 10px; box-sizing: border-box; height: 500px;}
body.write dl.txt-area{}
body.write dl.txt-area dt,
body.write dl.txt-area dd{padding: 0 0 0 10px}
body.write form dl{display: flex; margin-bottom: 10px; padding-bottom: 10px;  border-bottom: 1px solid #ddd; box-sizing: border-box;}
body.write form dl dt{width: 20%; padding: 12px 0 0 10px; font-size: 14px; font-weight: 600;}
body.write form dl dd{width: 80%;}

body.write form dl:first-of-type{margin-top: 10px; padding-top: 10px; border-top: 1px solid #ddd;}


body.view{}
body.view dl{margin-top:20px}
body.view dl dt,
body.view dl dd{padding: 20px 10px; box-sizing: border-box; border-top: 1px solid #ddd;}
body.view dl dt{}
body.view dl dd{border-bottom: 1px solid #ddd; min-height:400px}

body.view dl dt p{font-size: 20px; font-weight: 600; margin-bottom: 10px;}
body.view dl dt ul li{font-size: 14px;position: relative; margin-right: 10px; padding-right: 10px;}
body.view dl dt ul li::after{content: ""; display: block; position: absolute; top:50%; right: 0; transform: translateY(-50%); width: 1px; height: 10px; background: #ddd;}
body.view dl dt ul li:last-of-type{margin-right: 0; padding-right: 0;}
body.view dl dt ul li:last-of-type::after{display: none;}
body.view dl dt ul li span{color: #666;}

body.view div.prev,
body.view div.next{width:50%; border-bottom: 1px solid #ddd; box-sizing: border-box;}
body.view div.prev a,
body.view div.next a{position: relative; display: block; width: 100%; padding: 10px; font-size: 14px; line-height: 1.3; box-sizing: border-box}
body.view div.prev a {padding-left: 60px;}
body.view div.next a {padding-right: 60px; text-align: right;}

body.view div.prev a span,
body.view div.next a span{position: absolute; top:50%; transform: translateY(-50%); }

body.view div.prev a span{left: 10px;}
body.view div.next a span{right: 10px;}


#passwordModal{position:absolute; top:0; left:0; width:100%; height:100vh; background:rgba(0,0,0,0.5);}
.modal-content{position:absolute; top:30%; left:50%; transform: translate(-50%, -50%); background:#fff;padding:50px 40px; box-sizing:border-box; border-radius:7px; width:80%;}
.modal-content > .close-btn{
	position: absolute;
    top: 50px;
    right: 40px;
    font-size: 20px;
    line-height: 1;
    background: none;
}
.modal-content > h3{font-size:18px; font-weight:800; margin-bottom:20px;}
.modal-content > input{width:100%; border-radius:7px; border:1px solid #ddd; line-height:40px; padding:0 10px; box-sizing:border-box; margin-bottom:10px;}