<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="org.zerock.mapper.BoardMapper">

<select id="getList" resultType="org.zerock.dto.BoardVO">
<![CDATA[
	select * from board where idx > 0 order by idx DESC
]]>
</select>

<insert id="insert">
	insert into board (idx, title, content, name, email, pass)
	values (null, #{title}, #{content}, #{name}, #{email}, #{pass})
</insert>

  <insert id="insertSelectKey" useGeneratedKeys="true" keyProperty="idx">
	  INSERT INTO board (title, content, name, email, pass)
	  VALUES (#{title}, #{content}, #{name}, #{email}, #{pass})
  </insert>

<select id="read" resultType="org.zerock.dto.BoardVO">
	select * from board where idx = #{idx}
</select>

<delete id="delete" >
	delete from board where idx = #{idx}
</delete>

<update id="update">
	update board
	set title = #{title},
	content = #{content},
	ofile = #{ofile},
	sfile = #{sfile}
	where idx = #{idx}
</update>
<!-- 게시글 비밀번호 검증 쿼리 -->
<select id="verifyPassword" parameterType="map" resultType="int">
     SELECT COUNT(*) 
     FROM board
     WHERE idx = #{idx} AND pass = #{pass}
     </select>

</mapper> 