<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.NaverLoginMapper">

    <!-- 네이버 회원 정보 삽입 -->
    <insert id="insertNaverMember" parameterType="org.zerock.dto.NaverLoginDTO">
        INSERT INTO naver_member (id, email, phone_num, name, birth)
        VALUES (#{id}, #{email}, #{phoneNum}, #{name}, #{birth})
    </insert>

    <!-- 네이버 회원 정보 조회 -->
    <select id="selectNaverMemberById" parameterType="String" resultType="org.zerock.dto.NaverLoginDTO">
        SELECT count(*) from naver_member WHERE id = #{id}
    </select>

    <!-- 네이버 회원 정보 수정 -->
    <update id="updateNaverMember" parameterType="org.zerock.dto.NaverLoginDTO">
        UPDATE naver_member
        SET email = #{email},
            phone_num = #{phoneNum},
            name = #{name},
            birth = #{birth},
        WHERE id = #{id}
    </update>

    <!-- 네이버 회원 정보 삭제 -->
    <delete id="deleteNaverMember" parameterType="String">
        DELETE FROM naver_member WHERE id = #{id}
    </delete>

</mapper>
